body {
    background-color: #6B5B95;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.items {
    display: grid;
    border-radius: 3px;
    font-size: 8px; 
    grid-template-rows: repeat(var(--grid-rows),100px);
    grid-template-columns: repeat(var(--grid-cols),100px); 
    justify-content: center;
}

.item {
    background-color: whitesmoke;
    border: 0.02px solid black;
}

