body {
    background-color: #6B5B95;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    align-items: center;
    border: rgba(0, 0, 0,0.03);
    border-radius: 3px;
    font-size: 18px;    
}

.item {
    background-color: whitesmoke;
}
